body{
  box-sizing: border-box;
  background-color:lightseagreen;
  color:white;
}
.title{
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar{
  width:100%; 
  height:80px;
  background-color:greenyellow;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}
#logo{
  height:90%;
  background-color: white;
}
#logo>img{
height:100%;
}
#nav-menu{
  width:60%;
  /* background-color: aliceblue; */
  display:flex;
  justify-content: space-around;
  align-items:center
}
#nav-menu a{
  font-size: 24px;
  text-decoration: none;
  display: block;
}



#about{
  width:80%;
  /* background-color: red;; */
 
  padding-top: 120px;
  margin:auto;
}

#user-detail-intro{
margin:auto;
  /* border:1px solid greenyellow; */
}
#user-detail-intro>p{
  text-align: justify;
  font-size: 30px;
}
#user-detail-intro>button{
  display: block;
  margin:auto;
  font-size: 20px;
  padding:10px;
  margin-top: 80px;
}
#user-detail-intro>div{
  width:70%;
  font-size:x-large;
  line-height: 1.5;
  text-align: justify;
}
#user-detail-intro img{
  background-color: aliceblue;
  width:20%;
  margin-top:30px;
}

/* =================  Skillss  ================ */

#skills{
  width:100%;
  /* border:1px solid red; */
  padding-top:120px;
}

.skills-box{
  width:80%;
  /* border:1px solid greenyellow; */
  padding:20px;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:50px;
}
.skills-card{
  /* background-color:blueviolet; */
  background-color: #adff2f;
  /* border:1px solid red; */
  border-radius: 8px;;
}
.skills-card>h3{
  color:white;
  font-size: x-large;
  text-align: center;
}
.skills-card-img{
  width:100%;
  background-color: aliceblue;
  border-radius: 8px;
}
.skills-card-img>img{
  width:50%;
  height:50%;
  display:block;
  margin:auto;
  padding-top: 5px;
  border-radius: 8px;
  /* filter: contrast(170%) ; */
}
/* * ========================= Projects ============================== */

#projects{
  width:100%;
  /* border:1px solid red; */
  padding-top:100px;
}
.projects-container{
  width:90%;
  /* border:1px solid blue; */
  margin:auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}
.project-card{
  /* background-color: red; */
  padding: 10px;
  border-radius: 8px;
}
.project-image{
  width:100%;
  /* height:200px; */
  /* border:1px solid white; */
  border-radius: 8px;
}
.project-image>img{
  width:100%;
  height:100%;
  border-radius: 8px;
  object-fit: cover;
}
table{
  width:100%;
  background-color: #adff2f;
  /* background-color:rgb(138,43,226); */
  border-radius: 8px;
  font-size: medium;
  margin-top:8px;
  color: #1b0c2f;
  font-size: large;
}




/* =========================  Contact ============================== */
@media screen and (min-width: 350px) and (max-width:499px){
  #user-detail-intro>p{
    /* text-align: justify; */
    text-wrap:pretty;
    font-size: 20px;
  }
   
.skills-box{
  width:90%;
  /* border:1px solid greenyellow; */
  /* background-color:whitesmoke; */
  border-radius: 8px;
  /* margin:auto; */
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:8px;
}
.project-image{
  width:100%;
  /* height:200px; */
  /* border:1px solid white; */
  border-radius: 8px;
}
#projects{
  width:100%;
  align-self: center;
  /* border:1px solid red; */
  padding-top:100px;
}
#navbar{
  width:100%; 
  height:80px;
  background-color:greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}
#nav-menu a{
  font-size: 14px;
  text-decoration: none;
  display: block;
}

 
  #projects{
    width:100%;
    /* border:1px solid red; */
    padding-top:100px;
  }
  .projects-container{
    width:90%;
    /* border:1px solid blue; */
    margin:auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:10px;
  }
  .project-card{
    padding: 10px;
    background-color:whitesmoke;
    border-radius: 8px;
  }

}
@media screen and (min-width: 500px) and (max-width:869px) {
  #projects{
    width:100%;
    /* border:1px solid red; */
    padding-top:100px;
  }
  .skills-box{
    width:80%;
    /* border:1px solid greenyellow; */
    /* background-color: whitesmoke; */
    padding:20px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
  }
  .projects-container{
    width:90%;
    /* border:1px solid blue; */
    margin:auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:10px;
  }
}
@media screen and (min-width: 870px) and (max-width:1001px) {
  
.skills-box{
  width:80%;
  /* border:1px solid greenyellow; */
  padding:20px;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:50px;
}
#navbar{
  width:100%; 
  height:80px;
  background-color:greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

.projects-container{
  width:90%;
  /* border:1px solid blue; */
  margin:auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}
  
}

@media screen and (min-width:1002px) and (max-width:1199px) {
  
 
.skills-box{
  width:80%;
  /* border:1px solid greenyellow; */
  padding:20px;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:50px;
}
#navbar{
  width:100%; 
  height:80px;
  background-color:greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

  }

@media screen and (min-width:1200px) and (max-width:1300px) {
 
#projects{
  width:100%;
  /* border:1px solid red; */
  padding-top:100px;
}
.projects-container{
  width:95%;
  /* border:1px solid blue; */
  margin:auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}
.project-card{
  /* background-color:whitesmoke; */
  padding: 10px;
  border-radius: 8px;
}
.skills-box{
  width:80%;
  /* border:1px solid greenyellow; */
  padding:20px;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:50px;
} 
  
#navbar{
  width:100%; 
  height:80px;
  background-color:greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

}

@media screen and (min-width:1301px) {
  .projects-container{
    width:90%;
    /* border:1px solid blue; */
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
  }
#navbar{
  width:100%; 
  height:80px;
  background-color:greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

}