body{
  box-sizing: border-box;
  background-color:black;
  color:white;
}

#navbar{
  width:100%; 
  height:80px;
  background-color:yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}
#logo{
  height:90%;
  background-color: white;
}
#logo>img{
height:100%;
}
#nav-menu{
  width:60%;
  /* background-color: aliceblue; */
  display:flex;
  justify-content: space-around;
  align-items:center
}
#nav-menu a{
  font-size: 24px;
  text-decoration: none;
  display: block;
}


#home{
  width:100%;
  height:500px;
  background-color:#1b0c2f;
  padding-top:150px;
  margin-bottom: 20px;
}

#home>div{
  width:80%;
  height:100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border:1px solid white;
}
#home>div>div:nth-child(2){
  width:40%;
  background-color: #1b0c2f;
  /* image container */
  background-color: white;
}
#home>div>div:nth-child(2) img{
  /* border-radius: 25%; */
  height:100%;
  display: block;
  margin:auto;
  border-radius: 20px;
}
#home>div>div:nth-child(1){
  background-color:#1b0c2f;
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.mern{
  width:100%;
  height:150px;
  background-color: yellowgreen;
}
.mern>img{
  width:100%;
  object-fit: cover;
}



#about{
  width:80%;
  /* background-color: red;; */
 
  padding-top: 120px;
  margin:auto;
}
.title{
  text-align: center;
}
#user-detail-intro{
margin:auto;
  /* border:1px solid greenyellow; */
}
#user-detail-intro>p{
  text-align: justify;
  font-size: larger;
}
#user-detail-intro>button{
  display: block;
  margin:auto;
  font-size: 20px;
  padding:10px;
  margin-top: 80px;
}
#user-detail-intro>div{
  width:70%;
  font-size:x-large;
  line-height: 1.5;
  text-align: justify;
}
#user-detail-intro img{
  background-color: aliceblue;
  width:20%;
  margin-top:30px;
}

/* =================  Skillss  ================ */

#skills{
  width:90%;
  /* border:1px solid red; */
  margin:auto;
  padding-top:150px;
}
.title{
  text-decoration: underline;
  text-transform: uppercase;
  
}
.skills-box{
  width:90%;
  border:1px solid greenyellow;
  padding:20px;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:50px;
}
.skills-card{
  background-color:blueviolet;
  /* border:1px solid red; */
  border-radius: 8px;;
}
.skills-card>h3{
  color:white;
  font-size: x-large;
  text-align: center;
}
.skills-card-img{
  width:100%;
  height:200px;
  background-color: aliceblue;
  border-radius: 8px;
}
.skills-card-img>img{
  width:90%;
  height:90%;
  display:block;
  margin:auto;
  padding-top: 5px;
  border-radius: 8px;
}

/* =========================  Contact ============================== */
@media screen and (min-width: 870px) and (max-width:1001px) {
  
#navbar{
  width:100%; 
  height:80px;
  background-color:yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

#home{
  width:100%;
  height:500px;
  background-color:#1b0c2f;
  padding-top:150px;
}

#home>div{
  width:90%;
  height:100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border:1px solid white;
}
#home>div>div:nth-child(2){
  width:40%;
  background-color: #1b0c2f;
  /* image container */
  background-color: white;
  border-radius: 20px;
}
#home>div>div:nth-child(2) img{
  /* border-radius: 25%; */
  height:100%;
  display: block;
  margin:auto;
  border-radius: 20px;
}
#home>div>div:nth-child(1){
  background-color:#1b0c2f;
  /* width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px; */
}

.mern{
  width:100%;
  height:150px;
  background-color: yellowgreen;
}
.mern>img{
  width:100%;
  height:100%;
  object-fit: cover;
}
  
}

@media screen and (min-width:900px) and (max-width:1199px) {
  
 
#navbar{
  width:100%; 
  height:80px;
  background-color:yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

#home{
  width:100%;
  height:500px;
  background-color:#1b0c2f;
  padding-top:120px;
}

#home>div{
  width:90%;
  height:100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border:1px solid white;

}
#home>div>div:nth-child(2){
  width:40%;
  background-color: #1b0c2f;
  /* image container */
  background-color: white;
  border-radius: 20px;
}
#home>div>div:nth-child(2) img{
  /* border-radius: 25%; */
  height:100%;
  display: block;
  margin:auto;
  border-radius: 20px;
}
#home>div>div:nth-child(1){
  background-color:#1b0c2f;
  /* width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px; */
}

.mern{
  width:100%;
  height:150px;
  background-color: yellowgreen;
}
.mern>img{
  width:100%;
  height:100%;
  object-fit: cover;
}
  }

@media screen and (min-width:1200px) and (max-width:1300px) {
  
  
#navbar{
  width:100%; 
  height:80px;
  background-color:yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

#home{
  width:100%;
  height:500px;
  background-color:#1b0c2f;
  padding-top:120px;
}

#home>div{
  width:90%;
  height:100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border:1px solid white;

}
#home>div>div:nth-child(2){
  width:40%;
  background-color: #1b0c2f;
  /* image container */
  background-color: white;
  border-radius: 20px;
}
#home>div>div:nth-child(2) img{
  /* border-radius: 25%; */
  height:100%;
  display: block;
  margin:auto;
  border-radius: 20px;
}
#home>div>div:nth-child(1){
  background-color:#1b0c2f;
  /* width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px; */
}

.mern{
  width:100%;
  height:150px;
  background-color: yellowgreen;
}
.mern>img{
  width:100%;
  height:100%;
  object-fit: cover;
}
}

@media screen and (min-width:1301px) {
 
#navbar{
  width:100%; 
  height:80px;
  background-color:yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}

#home{
  width:100%;
  height:500px;
  background-color:#1b0c2f;
  padding-top:120px;
}

#home>div{
  width:90%;
  height:100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border:1px solid white;

}
#home>div>div:nth-child(2){
  width:40%;
  background-color: #1b0c2f;
  /* image container */
  background-color: white;
  border-radius: 20px;
}
#home>div>div:nth-child(2) img{
  /* border-radius: 25%; */
  height:100%;
  display: block;
  margin:auto;
  border-radius: 20px;
}
#home>div>div:nth-child(1){
  background-color:#1b0c2f;
  /* width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px; */
}

.mern{
  width:100%;
  height:150px;
  background-color: yellowgreen;
}
.mern>img{
  width:100%;
  height:100%;
  object-fit: cover;
}
}